.modal_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 100;
  pointer-events: none;
  z-index: 999;
}

.modal_container {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  z-index: 1000;
  border-radius: 8px;
  width: 40%;
  height: 65%;
  background: #040708;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  padding: 1rem;
}

.modal_header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_header > h1 {
  margin: 0;
  padding: 0;
}

.close_btn {
  background: transparent;
  font-size: 2rem;
}
