.dashboard {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.header {
  grid-row: 1 / 3;
  grid-column: 1 / 13;
}

.content {
  padding: 1rem;
  height: 100%;
  grid-row: 3 / 13;
  grid-column: 1 / 13;
}
